<%- include('../layouts/adminHeader.ejs') %>

    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DarkPan</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                        </div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Jhon Doe</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/admin/home" class="nav-item nav-link "><i
                            class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <div class="nav-item dropdown">
                        <a href="/admin/users" class="nav-link "><i class="fa fa-laptop me-2"></i>User's List</a>

                    </div>
                    <a href="/admin/category" class="nav-item nav-link "><i class="fa fa-keyboard me-2"></i>Catagory</a>
                    <a href="/admin/products" class="nav-item nav-link "><i class="fa fa-th me-2"></i>Products</a>
                    <a href="/admin/brand" class="nav-item nav-link "><i class="fa fa-chart-bar me-2"></i>Brand</a>
                    <a href="/admin/coupen" class="nav-item nav-link active"><i class="fa fa-table me-2"></i>Coupen</a>


                </div>
        </div>
        </nav>
    </div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
            <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>
            <form class="d-none d-md-flex ms-4">
                <input class="form-control bg-dark border-0" type="search" placeholder="Search">
            </form>
            <div class="navbar-nav align-items-center ms-auto">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa fa-envelope me-lg-2"></i>
                        <span class="d-none d-lg-inline-flex">Message</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="img/user.jpg" alt=""
                                    style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                    <small>15 minutes ago</small>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="img/user.jpg" alt=""
                                    style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                    <small>15 minutes ago</small>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="img/user.jpg" alt=""
                                    style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                    <small>15 minutes ago</small>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item text-center">See all message</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa fa-bell me-lg-2"></i>
                        <span class="d-none d-lg-inline-flex">Notificatin</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                        <a href="#" class="dropdown-item">
                            <h6 class="fw-normal mb-0">Profile updated</h6>
                            <small>15 minutes ago</small>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <h6 class="fw-normal mb-0">New user added</h6>
                            <small>15 minutes ago</small>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <h6 class="fw-normal mb-0">Password changed</h6>
                            <small>15 minutes ago</small>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item text-center">See all notifications</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2" src="img/user.jpg" alt=""
                            style="width: 40px; height: 40px;">
                        <span class="d-none d-lg-inline-flex">John Doe</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                        <a href="#" class="dropdown-item">My Profile</a>
                        <a href="#" class="dropdown-item">Settings</a>
                        <a href="/admin/logout" class="dropdown-item">Log Out</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->

        <div class="container mt-5 col-md-6  ">

            <div class="col-md-10  ">
                <form action="/admin/editCoupen?id=<%=coupen._id%>" method="post"
                    style="background-color: #585856; color: #ffffde; border: 1px solid rgb(1, 1, 1); padding: 20px;"
                    class="text-left  form-sm">
                    <div class="form-group mb-4">
                        <label for="name">Coupen Code</label>
                        <div class="input-group">
                            <input type="text" class="form-control bg-dark col-4" id="name" name="coupenCode"
                                value="<%=coupen.Coupencode%>" placeholder="Coupen Code">
                        </div>
                    </div>

                    <div class="form-group mb-4">
                        <%if(coupen.coupenAmountType=="flat"){%>
                            <label for="discType">Discount Type</label>
                            <div>
                                <input type="radio" id="flat" name="discType" value="flat" checked>
                                <label for="flat">Flat Discount</label>
                            </div>
                            <div>
                                <input type="radio" id="percentage" name="discType" value="percentage">
                                <label for="percentage">Percentage Discount</label>
                            </div>
                            <%}else{%>


                                <label for="discType">Discount Type</label>
                                <div>
                                    <input type="radio" id="flat" name="discType" value="flat">
                                    <label for="flat">Flat Discount</label>
                                </div>
                                <div>
                                    <input type="radio" id="percentage" name="discType" value="percentage" checked>
                                    <label for="percentage">Percentage Discount</label>
                                </div>



                                <%}%>
                    </div>

                    <div class="form-group mb-4">
                        <label for="discAmount"> Amount</label>
                        <input type="text" name="discAmount" id="discAmount" class="form-control"
                            placeholder="Discount Amount" required value="<%=coupen.coupenAmount%>">
                    </div>

                    <div class="form-group mb-4">
                        <label for="minAmount">Min Cart Amount</label>
                        <input type="text" name="minAmount" id="minAmount" class="form-control"
                            placeholder="Max Discount" required value="<%=coupen.minCartAmount%>">
                    </div>

                    <div class="form-group mb-4">
                        <label for="minRedeemAmount">Min reedeem Amount</label>
                        <input type="text" name="minRedeemAmount" id="minRedeemAmount" class="form-control"
                            placeholder="Min Purchase" required value="<%=coupen.minRedeemAmount%>">
                    </div>

                    <div class="form-group mb-4">
                        <label for="startdate" style="display: block;">Start Date</label>
                        <input type="date" name="startdate" id="startdate" class="form-control" required
                            style="background-color: #f2f2f2; color: #000;"
                            value="<%= coupen.startDate ? coupen.startDate.toISOString().substr(0, 10) : '' %>">
                    </div>



                    <div class="form-group mb-4">
                        <label for="expdate" style="display: block;">Expiry Date</label>
                        <input type="date" name="expdate" id="expdate" class="form-control" required
                            style="background-color: #f2f2f2; color: #000;"
                            value="<%= coupen.expiryDate ? coupen.expiryDate.toISOString().substr(0, 10) : '' %>">
                    </div>

                    <div class="form-group mb-4">
                        <label for="limit">Usage Limit</label>
                        <input type="text" name="limit" id="limit" class="form-control" placeholder="limit" required
                            value="<%=coupen.limit%>">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>



            </div>
        </div>

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <%- include('../layouts/adminFooter.ejs') %>