<%- include('../layouts/adminHeader.ejs') %>

    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DarkPan</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                        </div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Jhon Doe</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/admin/home" class="nav-item nav-link "><i
                            class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <div class="nav-item dropdown">
                        <a href="/admin/users" class="nav-link "><i class="fa fa-laptop me-2"></i>User's List</a>

                    </div>
                    <a href="/admin/category" class="nav-item nav-link "><i class="fa fa-keyboard me-2"></i>Catagory</a>
                    <a href="/admin/products" class="nav-item nav-link active"><i
                            class="fa fa-th me-2 "></i>Products</a>
                    <a href="/admin/brand" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Brand</a>
                    <a href="/admin/coupen" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Coupen</a>


                </div>
        </div>
        </nav>
    </div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
            <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>
            <form class="d-none d-md-flex ms-4">
                <input class="form-control bg-dark border-0" type="search" placeholder="Search">
            </form>
            <div class="navbar-nav align-items-center ms-auto">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa fa-envelope me-lg-2"></i>
                        <span class="d-none d-lg-inline-flex">Message</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="img/user.jpg" alt=""
                                    style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                    <small>15 minutes ago</small>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="img/user.jpg" alt=""
                                    style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                    <small>15 minutes ago</small>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="img/user.jpg" alt=""
                                    style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                    <small>15 minutes ago</small>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item text-center">See all message</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa fa-bell me-lg-2"></i>
                        <span class="d-none d-lg-inline-flex">Notificatin</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                        <a href="#" class="dropdown-item">
                            <h6 class="fw-normal mb-0">Profile updated</h6>
                            <small>15 minutes ago</small>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <h6 class="fw-normal mb-0">New user added</h6>
                            <small>15 minutes ago</small>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <h6 class="fw-normal mb-0">Password changed</h6>
                            <small>15 minutes ago</small>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item text-center">See all notifications</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2" src="img/user.jpg" alt=""
                            style="width: 40px; height: 40px;">
                        <span class="d-none d-lg-inline-flex">John Doe</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                        <a href="#" class="dropdown-item">My Profile</a>
                        <a href="#" class="dropdown-item">Settings</a>
                        <a href="/admin/logout" class="dropdown-item">Log Out</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->

        <div class="container mt-5 col-md-6">
            <div class="col-md-10">
                <form action="/admin/editProduct?id=<%=product._id%>" method="post" 
                    style="background-color: #585856; color: #ffffde; border: 1px solid rgb(1, 1, 1); padding: 20px;"
                    class="text-left  form-sm">

                    <div class="form-group mb-4">
                        <label for="thumbnail">Image</label>
                        <div class="input-group">
                            <div class="custom-file col-">
                                <input type="file" multiple class="custom-file-input bg-dark" id="thumbnail"
                                    name="image" accept="image/*" />
                                <label class="custom-file-label" for="thumbnail">choose files</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label for="name">Product Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control bg-dark col-4" id="name" name="name"
                                value=" <%=product.productName%>" placeholder="Enter name">
                        </div><br>

                        <div class="form-group mb-4">
                            <label for="Brand">Brand</label>
                            <select class="form-control bg-dark col-4" id="Brand" name="Brand">
                                <option value="">--Select Brand--</option>
                                <% brand.forEach((brandName)=>{ %>


                                    <option value=" <%= brandName.name %>">
                                        <%= brandName.name %>
                                    </option>
                                    <% }); %>

                            </select>
                        </div>
                        <div class="form-group mb-4">
                            <label for="category"> Sub Category</label>
                            <select class="form-control bg-dark col-4" id="category" name="subCategory">
                                <option value=""></option>
                                <% category.forEach((Category)=>{%>
                                    <optgroup label="<%=Category.name %>">
                                        <% Category.subCategories.forEach((subCategory)=>{%>
                                            <option value="<%= subCategory.name %>">
                                                <%= subCategory.name %>
                                            </option>
                                            <% }); %>
                                    </optgroup>
                                    <% }); %>
                            </select>
                        </div>

                        <div class="form-group mb-4">
                            <label for="optGroupLabel">Main Category</label>
                            <input type="text" class="form-control bg-dark col-4" id="optGroupLabel"
                                name="MainCategory">
                        </div>

                        <script>
                            const categorySelect = document.getElementById('category');
                            const optGroupLabelInput = document.getElementById('optGroupLabel');
                            categorySelect.addEventListener('change', () => {
                                const selectedOptGroup = categorySelect.selectedOptions[0].parentNode; // get the parent of the selected option
                                const optGroupLabel = selectedOptGroup.label; // get the label of the optgroup
                                optGroupLabelInput.value = optGroupLabel; // set the optGroupLabel as the value of the optGroupLabelInput
                            });
                        </script>

                        <div class="form-group mb-4">
                            <label for="size">Size</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="size[]" id="size-s" value="S">
                                <label class="form-check-label" for="size-s">
                                    S
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="size[]" id="size-m" value="M">
                                <label class="form-check-label" for="size-m">
                                    M
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="size[]" id="size-l" value="L">
                                <label class="form-check-label" for="size-l">
                                    L
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="size[]" id="size-xl" value="XL">
                                <label class="form-check-label" for="size-xl">
                                    XL
                                </label>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label for="price">Price</label>
                            <input type="number" name="price" id="price" class="form-control" value="<%=product.price%>"
                                required>
                        </div>

                        <div class="form-group mb-4">
                            <label for="quantity">Quantity</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-outline-secondary"
                                        onclick="decrement()">-</button>
                                </div>
                                <input type="number" name="quantity" id="quantity" class="form-control"
                                    value="<%=product.quantity%>" min="1" required>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-secondary"
                                        onclick="increment()">+</button>
                                </div>
                            </div>
                        </div>

                        <script>
                            function increment() {
                                document.getElementById("quantity").stepUp();
                            }

                            function decrement() {
                                document.getElementById("quantity").stepDown();
                            }
                        </script>

                        <div class="form-group mb-4">
                            <label for="description"> Description</label>
                            <textarea class="form-control bg-dark col-4" id="description" name="description" rows="3"
                                placeholder="Enter description" ><%=product.description%></textarea>
                        </div>

                        <br><br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


        <%- include('../layouts/adminFooter.ejs') %>