<%-include('../layouts/productsHeader.ejs') %>
<!-- Header part end-->
<% console.log(orderData)%>
  <!--================Home Banner Area =================-->
  <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Order Confirmation</h2>
              <p>Home <span>-</span> Order Confirmation</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->

  <!--================ confirmation part start =================-->
  <section class="confirmation_part padding_top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="confirmation_tittle">
            <span>Thank you. Your order has been received.</span>
          </div>
        </div>
        <div class="col-lg-6 col-lx-4">
          <div class="single_confirmation_details">
            <h4>order info</h4>
            <ul>
              <li>
                <p>order number</p><span>: 60235</span>
              </li>
              <li>
                <p>data</p><span>:<%= orderData.createdAt %></span>
              </li>
              <li>
                <p>total</p><span>: <%= orderData.totalAmount %></span>
              </li>
              <li>
                <p>mayment method</p><span>: <%= orderData.paymentMethod%></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-lx-4">
          <div class="single_confirmation_details">
            <h4>Billing Address</h4>
            <ul>
              <li>
                <p>Street</p><span>: 56/8</span>
              </li>
              <li>
                <p>city</p><span>: Los Angeles</span>
              </li>
              <li>
                <p>country</p><span>: United States</span>
              </li>
              <li>
                <p>postcode</p><span>: 36952</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-lx-4">
          <div class="single_confirmation_details">
            <% console.log(orderData.address)%>
            <h4>shipping Address</h4>
            <ul>
                <li>
                    <p>Name</p><span>:<%= orderData.address.fullName %></span>
                </li>
                <li>
                    <p>House</p><span>:<%= orderData.address.houseAddress%></span>
                </li>
              <li>
                <p>Street</p><span>:<%= orderData.address.streetAddress%> </span>
              </li>
              <li>
                <p>city</p><span>: <%= orderData.address.cityName %></span>
              </li>
              <li>
                <p>state</p><span>: <%= orderData.address.state%></span>
              </li>
              <li>
                <p>postcode</p><span>: <%= orderData.address.pincode%></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="order_details_iner">
            <h3>Order Details</h3>
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col" colspan="2">Product</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <% orderData.items.forEach((value) => { %>
                <tr>
                  <th colspan="2"><span><%= value.productId.product_name%></span></th>
                  <th><%= value.qty%></th>
                  <th> <span>₹<%= value.productTotalPrice%></span></th>
                </tr>
            
            <% }) %>
                
                <tr>
                  <th colspan="3">Subtotal</th>
                  <th> <span><%=orderData.totalAmount%></span></th>
                </tr>
                <tr>
                  <th colspan="3">discount</th>
                  <th><span><%= orderData.discount %></span></th>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th scope="col" colspan="3">Total</th>
                  <th scope="col"><%=orderData.totalAmount - orderData.discount %></th>
                </tr>
                
               
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn_3" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Download invoice
    </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!DOCTYPE html>
            <html>
              <head>
                <meta charset="utf-8" />
                <title>Tax Invoice</title>
                <link rel="shortcut icon" type="image/png" href="./favicon.png" />
                <style>
                  * {
                    box-sizing: border-box;
                  }
            
                  .table-bordered td,
                  .table-bordered th {
                    border: 1px solid #ddd;
                    padding: 10px;
                    word-break: break-all;
                  }
            
                  body {
                    font-family: Arial, Helvetica, sans-serif;
                    margin: 0;
                    padding: 0;
                    font-size: 16px;
                  }
                  .h4-14 h4 {
                    font-size: 12px;
                    margin-top: 0;
                    margin-bottom: 5px;
                  }
                  .img {
                    margin-left: "auto";
                    margin-top: "auto";
                    height: 30px;
                  }
                  pre,
                  p {
                    /* width: 99%; */
                    /* overflow: auto; */
                    /* bpicklist: 1px solid #aaa; */
                    padding: 0;
                    margin: 0;
                  }
                  table {
                    font-family: arial, sans-serif;
                    width: 100%;
                    border-collapse: collapse;
                    padding: 1px;
                  }
                  .hm-p p {
                    text-align: left;
                    padding: 1px;
                    padding: 5px 4px;
                  }
                  td,
                  th {
                    text-align: left;
                    padding: 8px 6px;
                  }
                  .table-b td,
                  .table-b th {
                    border: 1px solid #ddd;
                  }
                 
                  .hm-p td,
                  .hm-p th {
                    padding: 3px 0px;
                  }
                  .cropped {
                    float: right;
                    margin-bottom: 20px;
                    height: 100px; /* height of container */
                    overflow: hidden;
                  }
                  .cropped img {
                    width: 400px;
                    margin: 8px 0px 0px 80px;
                  }
                  .main-pd-wrapper {
                    box-shadow: 0 0 10px #ddd;
                    background-color: #fff;
                    border-radius: 10px;
                    padding: 15px;
                  }
                  .table-bordered td,
                  .table-bordered th {
                    border: 1px solid #ddd;
                    padding: 10px;
                    font-size: 14px;
                  }
                  .invoice-items {
                    font-size: 14px;
                    border-top: 1px dashed #ddd;
                  }
                  .invoice-items td{
                    padding: 14px 0;
                   
                  }
                </style>
              </head>
              <body>
                <section class="main-pd-wrapper" id="invoice" style="width: 450px; margin: auto">
                  <div style="
                              text-align: center;
                              margin: auto;
                              line-height: 1.5;
                              font-size: 14px;
                              color: #4a4a4a;
                            ">
                         
            
                            <p style="font-weight: bold; color: #000; margin-top: 15px; font-size: 18px;">
                               Invoice/Bill Of Supply <span class="text-danger">StepUP</span> Retailers<br> Private Limited
                            </p>
                            <p style="margin: 15px auto;">
                              A2, Test Street <br>
                              Test Area Bangaluru 560001, Karnataka
                            </p>
                            <p>
                              <b>GSTIN:</b> 0987653456789
                            </p>
                            <p>
                              <b>CIN:</b> 0987653456789
                            </p>
                            <p>
                              <b>FSSAI No. :</b> 0987653456789
                            </p>
                            <hr style="border: 1px dashed rgb(131, 131, 131); margin: 25px auto">
                          </div>
                          <table style="width: 100%; table-layout: fixed">
                            <thead>
                              <tr>
                                <th style="width: 50px; padding-left: 0;">Sn.</th>
                                <th style="width: 220px;">Item Name</th>
                                <th>Price</th>
                                <th>QTY</th>
                                <th style="text-align: right; padding-right: 0;">Total Price</th>
                              </tr>
                            </thead>
                            <tbody>
                              <%orderData.items.forEach((product,index) => { %>
                              <tr class="invoice-items">
                                <td><%= index+1 %></td>
                                <td ><%= product.productId.product_name%></td>
                                <td>₹<%= product.price%></td>
                                <td><%= product.qty %> PC</td>
                                <td style="text-align: right;">₹<%= product.productTotalPrice%></td>
                              </tr>
                              <% }) %>
                              
                           
                            </tbody>
                          </table>
                          <table style="width: 100%;
                          margin-top: 15px;
                          border: 1px dashed #00cd00;
                          border-radius: 3px;">
                            <thead>
                              <tr>
                                <th>Sub Total</th>
                               
                                <th style="text-align: right;">₹ <%= orderData.totalAmount %></th>
                                
                              </tr>
                              <tr>
                                <td>Discount </td>
                                
                                <!-- <td style="text-align: right;">-₹ </td> -->
                                
                                <td style="text-align: right;">₹ <%= orderData.discount %></td>
                                  
                              </tr>
                              <tr>
                                <td>Total Saving In Rs </td>
                                
                                  <!-- <td style="text-align: right;">₹</td> -->
                                  
                                  <td style="text-align: right;">₹ 0</td>
  
                              </tr>
                              
                            </thead>
                         
                          </table>
            
                          <table class="my-3" style="width: 100%;
                          background: #fcbd024f;
                          border-radius: 4px;">
                            <thead>
                              <tr>
                                <th>Total</th>
                                <th style="text-align: center;">Item(<%= orderData.items.length %>)</th>
                                <th>&nbsp;</th>
                                <th style="text-align: right;">₹ <%= orderData.totalAmount-orderData.discount %></th>
                                
                              </tr>
                            </thead>
                         
                          </table>
            
                         
            
                </section>
              </body>
            </html>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn_3" onclick="invoice()">Save Invoice</button>
        </div>
      </div>
    </div>
  </div>
  
    
  
  <script>
    function invoice(){
      var divToPrint = document.getElementById("invoice");
    var newWindow = window.open("", "Print Window");
    newWindow.document.write(divToPrint.outerHTML);
    newWindow.print();
    newWindow.close();
    }
  </script>
    </div> 
  </section>
  
  <!--================ confirmation part end =================-->

  <!--::footer_part start::-->
  <%-include('../layouts/productsFooter.ejs') %>