<%-include('../layouts/productsHeader.ejs') %>

<div id="ec-overlay"><span class="loader_img"></span></div>

<!-- Header start  -->
<header class="ec-header">
  <!--Ec Header Top Start -->
  <div class="header-top">
    <div class="container">
      <div class="row align-items-center">
        <!-- Header Top social Start -->
        <div class="col text-left header-top-left d-none d-lg-block">
          <div class="header-top-social">
            <span class="social-text text-upper">Follow us on:</span>
            <ul class="mb-0">
              <li class="list-inline-item">
                <a class="hdr-facebook" href="#"
                  ><i class="ecicon eci-facebook"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a class="hdr-twitter" href="#"
                  ><i class="ecicon eci-twitter"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a class="hdr-instagram" href="#"
                  ><i class="ecicon eci-instagram"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a class="hdr-linkedin" href="#"
                  ><i class="ecicon eci-linkedin"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Header Top social End -->
        <!-- Header Top Message Start -->
        <div class="col text-center header-top-center">
          <div class="header-top-message text-upper">
            <span>Free Shipping</span>This Week Order Over - $75
          </div>
        </div>
        <!-- Header Top Message End -->
        <!-- Header Top Language Currency -->
        <div class="col header-top-right d-none d-lg-block">
          <div class="header-top-lan-curr d-flex justify-content-end">
            <!-- Currency Start -->
            <div class="header-top-curr dropdown">
              <button
                class="dropdown-toggle text-upper"
                data-bs-toggle="dropdown"
              >
                Currency
                <i class="ecicon eci-caret-down" aria-hidden="true"></i>
              </button>
              <ul class="dropdown-menu">
                <li class="active">
                  <a class="dropdown-item" href="#">USD $</a>
                </li>
                <li><a class="dropdown-item" href="#">EUR €</a></li>
              </ul>
            </div>
            <!-- Currency End -->
            <!-- Language Start -->
            <div class="header-top-lan dropdown">
              <button
                class="dropdown-toggle text-upper"
                data-bs-toggle="dropdown"
              >
                Language
                <i class="ecicon eci-caret-down" aria-hidden="true"></i>
              </button>
              <ul class="dropdown-menu">
                <li class="active">
                  <a class="dropdown-item" href="#">English</a>
                </li>
                <li><a class="dropdown-item" href="#">Italiano</a></li>
              </ul>
            </div>
            <!-- Language End -->
          </div>
        </div>
        <!-- Header Top Language Currency -->
        <!-- Header Top responsive Action -->
        <div class="col d-lg-none">
          <div class="ec-header-bottons">
            <!-- Header User Start -->
            <div class="ec-header-user dropdown">
              <button class="dropdown-toggle" data-bs-toggle="dropdown">
                <img
                  src="/images/icons/user.svg"
                  class="svg_img header_svg"
                  alt=""
                />
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li>
                  <a class="dropdown-item" href="register.html">Register</a>
                </li>
                <li>
                  <a class="dropdown-item" href="checkout.html">Checkout</a>
                </li>
                <li><a class="dropdown-item" href="login.html">Login</a></li>
              </ul>
            </div>
            <!-- Header User End -->
            <!-- Header Cart Start -->
            <a href="/wishlist" class="ec-header-btn ec-header-wishlist">
              <div class="header-icon">
                <img
                  src="/images/icons/wishlist.svg"
                  class="svg_img header_svg"
                  alt=""
                />
              </div>
              <span class="ec-header-count">4</span>
            </a>
            <!-- Header Cart End -->
            <!-- Header Cart Start -->
            <a href="/cart" class="ec-header-btn ec-side-toggle">
              <div class="header-icon">
                <img
                  src="/images/icons/cart.svg"
                  class="svg_img header_svg"
                  alt=""
                />
              </div>
              <!-- <span class="ec-header-count cart-count-lable">3</span> -->
            </a>
            <!-- Header Cart End -->
            <!-- Header menu Start -->
            <a
              href="#ec-mobile-menu"
              class="ec-header-btn ec-side-toggle d-lg-none"
            >
              <img
                src="/images/icons/menu.svg"
                class="svg_img header_svg"
                alt="icon"
              />
            </a>
            <!-- Header menu End -->
          </div>
        </div>
        <!-- Header Top responsive Action -->
      </div>
    </div>
  </div>
  <!-- Ec Header Top  End -->
  <!-- Ec Header Bottom  Start -->
  <div class="ec-header-bottom d-none d-lg-block">
    <div class="container position-relative">
      <div class="row">
        <div class="ec-flex">
          <!-- Ec Header Logo Start -->
          <div class="align-self-center">
            <div class="header-logo">
              <a href="index.html"
                ><img src="/images/logo/logo.png" alt="Site Logo" /><img
                  class="dark-logo"
                  src="/images/logo/dark-logo.png"
                  alt="Site Logo"
                  style="display: none"
              /></a>
            </div>
          </div>
          <!-- Ec Header Logo End -->

          <!-- Ec Header Search Start -->
          <div class="align-self-center">
            <div class="header-search">
              <form class="ec-btn-group-form" action="#">
                <input
                  class="form-control"
                  id="searchField"
                  name="search"
                  placeholder="Enter Your Product Name..."
                  type="text"
                />
                <button class="submit" type="submit">
                  <img
                    src="/images/icons/search.svg"
                    class="svg_img header_svg"
                    alt=""
                  />
                </button>
              </form>
            </div>
          </div>
          <!-- Ec Header Search End -->

          <!-- Ec Header Button Start -->
          <div class="align-self-center">
            <div class="ec-header-bottons">
              <!-- Header User Start -->
              <div class="ec-header-user dropdown">
                <button class="dropdown-toggle" data-bs-toggle="dropdown">
                  <img
                    src="/images/icons/user.svg"
                    class="svg_img header_svg"
                    alt=""
                  />
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a class="dropdown-item" href="/profile">Profile</a></li>
                  <li><a class="dropdown-item" href="/logout">Logout</a></li>
                  <li><a class="dropdown-item" href="login.html">Login</a></li>
                </ul>
              </div>
              <!-- Header User End -->
              <!-- Header wishlist Start -->
              <a href="/wishlist" class="ec-header-btn ec-header-wishlist">
                <div class="header-icon">
                  <img
                    src="/images/icons/wishlist.svg"
                    class="svg_img header_svg"
                    alt=""
                  />
                </div>
                <!-- <span class="ec-header-count">4</span> -->
              </a>
              <!-- Header wishlist End -->
              <!-- Header Cart Start -->
              <a href="/cart" class="ec-header-btn ">
                <div class="header-icon">
                  <img
                    src="/images/icons/cart.svg"
                    class="svg_img header_svg"
                    alt=""
                  />
                </div>
                <!-- <span class="ec-header-count cart-count-lable">3</span> -->
              </a>
              <!-- Header Cart End -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Ec Header Button End -->
  <!-- Header responsive Bottom  Start -->
  <div class="ec-header-bottom d-lg-none">
    <div class="container position-relative">
      <div class="row">
        <!-- Ec Header Logo Start -->
        <div class="col">
          <div class="header-logo">
            <a href="index.html"
              ><img src="/images/logo/logo.png" alt="Site Logo" /><img
                class="dark-logo"
                src="/images/logo/dark-logo.png"
                alt="Site Logo"
                style="display: none"
            /></a>
          </div>
        </div>
        <!-- Ec Header Logo End -->
        <!-- Ec Header Search Start -->
        <div class="col">
          <div class="header-search">
            <form class="ec-btn-group-form" action="#">
              <input
                class="form-control"
                placeholder="Enter Your Product Name..."
                type="text"
              />
              <button class="submit" type="submit">
                <img
                  src="/images/icons/search.svg"
                  class="svg_img header_svg"
                  alt="icon"
                />
              </button>
            </form>
          </div>
        </div>
        <!-- Ec Header Search End -->
      </div>
    </div>
  </div>
  <!-- Header responsive Bottom  End -->
  <!-- EC Main Menu Start -->
  <div id="ec-main-menu-desk" class="d-none d-lg-block sticky-nav">
    <div class="container position-relative">
      <div class="row">
        <div class="col-md-12 align-self-center">
          <div class="ec-main-menu">
            <ul>
              <li><a href="/home">Home</a></li>
              <li class="dropdown">
                <span
                  class="main-label-note-new"
                  data-toggle="tooltip"
                  title="NEW"
                ></span
                ><a href="/products">Shop</a>
              </li>

              <li class="dropdown"><a href="/profile">Profile</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Ec Main Menu End -->
  <!-- ekka Mobile Menu Start -->
  <div id="ec-mobile-menu" class="ec-side-cart ec-mobile-menu">
    <div class="ec-menu-title">
      <span class="menu_title">My Menu</span>
      <button class="ec-close">×</button>
    </div>
    <div class="ec-menu-inner">
      <div class="ec-menu-content">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li>
            <a href="javascript:void(0)">Categories</a>
            <ul class="sub-menu">
              <li>
                <a href="javascript:void(0)">Classic Variation</a>
                <ul class="sub-menu">
                  <li>
                    <a href="shop-left-sidebar-col-3.html"
                      >Left sidebar 3 column</a
                    >
                  </li>
                  <li>
                    <a href="shop-left-sidebar-col-4.html"
                      >Left sidebar 4 column</a
                    >
                  </li>
                  <li>
                    <a href="shop-right-sidebar-col-3.html"
                      >Right sidebar 3 column</a
                    >
                  </li>
                  <li>
                    <a href="shop-right-sidebar-col-4.html"
                      >Right sidebar 4 column</a
                    >
                  </li>
                  <li>
                    <a href="shop-full-width.html">Full width 4 column</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0)">Classic Variation</a>
                <ul class="sub-menu">
                  <li>
                    <a href="shop-banner-left-sidebar-col-3.html"
                      >Banner left sidebar 3 column</a
                    >
                  </li>
                  <li>
                    <a href="shop-banner-left-sidebar-col-4.html"
                      >Banner left sidebar 4 column</a
                    >
                  </li>
                  <li>
                    <a href="shop-banner-right-sidebar-col-3.html"
                      >Banner right sidebar 3 column</a
                    >
                  </li>
                  <li>
                    <a href="shop-banner-right-sidebar-col-4.html"
                      >Banner right sidebar 4 column</a
                    >
                  </li>
                  <li>
                    <a href="shop-banner-full-width.html"
                      >Banner Full width 4 column</a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0)">Columns Variation</a>
                <ul class="sub-menu">
                  <li>
                    <a href="shop-full-width-col-3.html"
                      >3 Columns full width</a
                    >
                  </li>
                  <li>
                    <a href="shop-full-width-col-4.html"
                      >4 Columns full width</a
                    >
                  </li>
                  <li>
                    <a href="shop-full-width-col-5.html"
                      >5 Columns full width</a
                    >
                  </li>
                  <li>
                    <a href="shop-full-width-col-6.html"
                      >6 Columns full width</a
                    >
                  </li>
                  <li>
                    <a href="shop-banner-full-width-col-3.html"
                      >Banner 3 Columns</a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0)">List Variation</a>
                <ul class="sub-menu">
                  <li>
                    <a href="shop-list-left-sidebar.html">Shop left sidebar</a>
                  </li>
                  <li>
                    <a href="shop-list-right-sidebar.html"
                      >Shop right sidebar</a
                    >
                  </li>
                  <li>
                    <a href="shop-list-banner-left-sidebar.html"
                      >Banner left sidebar</a
                    >
                  </li>
                  <li>
                    <a href="shop-list-banner-right-sidebar.html"
                      >Banner right sidebar</a
                    >
                  </li>
                  <li>
                    <a href="shop-list-full-col-2.html">Full width 2 columns</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="p-0" href="shop-left-sidebar-col-3.html"
                  ><img
                    class="img-responsive"
                    src="/images/menu-banner/1.jpg"
                    alt=""
                /></a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0)">Products</a>
            <ul class="sub-menu">
              <li>
                <a href="javascript:void(0)">Product page</a>
                <ul class="sub-menu">
                  <li>
                    <a href="product-left-sidebar.html">Product left sidebar</a>
                  </li>
                  <li>
                    <a href="product-right-sidebar.html"
                      >Product right sidebar</a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0)">Product 360</a>
                <ul class="sub-menu">
                  <li>
                    <a href="product-360-left-sidebar.html">360 left sidebar</a>
                  </li>
                  <li>
                    <a href="product-360-right-sidebar.html"
                      >360 right sidebar</a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0)">Product vodeo</a>
                <ul class="sub-menu">
                  <li>
                    <a href="product-video-left-sidebar.html"
                      >vodeo left sidebar</a
                    >
                  </li>
                  <li>
                    <a href="product-video-right-sidebar.html"
                      >vodeo right sidebar</a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0)">Product gallery</a>
                <ul class="sub-menu">
                  <li>
                    <a href="product-gallery-left-sidebar.html"
                      >Gallery left sidebar</a
                    >
                  </li>
                  <li>
                    <a href="product-gallery-right-sidebar.html"
                      >Gallery right sidebar</a
                    >
                  </li>
                </ul>
              </li>
              <li><a href="product-full-width.html">Product full width</a></li>
              <li><a href="product-360-full-width.html">360 full width</a></li>
              <li>
                <a href="product-video-full-width.html">Video full width</a>
              </li>
              <li>
                <a href="product-gallery-full-width.html">Gallery full width</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0)">Others</a>
            <ul class="sub-menu">
              <li>
                <a href="javascript:void(0)">Mail Confirmation</a>
                <ul class="sub-menu">
                  <li>
                    <a href="email-template-confirm-1.html"
                      >Mail Confirmation 1</a
                    >
                  </li>
                  <li>
                    <a href="email-template-confirm-2.html"
                      >Mail Confirmation 2</a
                    >
                  </li>
                  <li>
                    <a href="email-template-confirm-3.html"
                      >Mail Confirmation 3</a
                    >
                  </li>
                  <li>
                    <a href="email-template-confirm-4.html"
                      >Mail Confirmation 4</a
                    >
                  </li>
                  <li>
                    <a href="email-template-confirm-5.html"
                      >Mail Confirmation 5</a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0)">Mail Reset password</a>
                <ul class="sub-menu">
                  <li>
                    <a href="email-template-forgot-password-1.html"
                      >Reset password 1</a
                    >
                  </li>
                  <li>
                    <a href="email-template-forgot-password-2.html"
                      >Reset password 2</a
                    >
                  </li>
                  <li>
                    <a href="email-template-forgot-password-3.html"
                      >Reset password 3</a
                    >
                  </li>
                  <li>
                    <a href="email-template-forgot-password-4.html"
                      >Reset password 4</a
                    >
                  </li>
                  <li>
                    <a href="email-template-forgot-password-5.html"
                      >Reset password 5</a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0)">Mail Promotional</a>
                <ul class="sub-menu">
                  <li>
                    <a href="email-template-offers-1.html">Offer Mail 1</a>
                  </li>
                  <li>
                    <a href="email-template-offers-2.html">Offer Mail 2</a>
                  </li>
                  <li>
                    <a href="email-template-offers-3.html">Offer Mail 3</a>
                  </li>
                  <li>
                    <a href="email-template-offers-4.html">Offer Mail 4</a>
                  </li>
                  <li>
                    <a href="email-template-offers-5.html">Offer Mail 5</a>
                  </li>
                  <li>
                    <a href="email-template-offers-6.html">Offer Mail 6</a>
                  </li>
                  <li>
                    <a href="email-template-offers-7.html">Offer Mail 7</a>
                  </li>
                  <li>
                    <a href="email-template-offers-8.html">Offer Mail 8</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0)">Vendor Account Pages</a>
                <ul class="sub-menu">
                  <li><a href="vendor-dashboard.html">Vendor Dashboard</a></li>
                  <li><a href="vendor-profile.html">Vendor Profile</a></li>
                  <li><a href="vendor-uploads.html">Vendor Uploads</a></li>
                  <li><a href="vendor-settings.html">Vendor Settings</a></li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0)">User Account Pages</a>
                <ul class="sub-menu">
                  <li><a href="user-profile.html">User Profile</a></li>
                  <li><a href="user-history.html">User History</a></li>
                  <li><a href="wishlist.html">Wishlist</a></li>
                  <li><a href="track-order.html">Track Order</a></li>
                  <li><a href="user-invoice.html">User Invoice</a></li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0)">Construction Pages</a>
                <ul class="sub-menu">
                  <li><a href="404-error-page.html">404 Error Page</a></li>
                  <li><a href="under-maintenance.html">Maintenance Page</a></li>
                  <li><a href="coming-soon.html">Comming Soon Page</a></li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0)">Vendor Catalog Pages</a>
                <ul class="sub-menu">
                  <li>
                    <a href="catalog-single-vendor.html"
                      >Catalog Single Vendor</a
                    >
                  </li>
                  <li>
                    <a href="catalog-multi-vendor.html">Catalog Multi Vendor</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0)">Pages</a>
            <ul class="sub-menu">
              <li><a href="about-us.html">About Us</a></li>
              <li><a href="contact-us.html">Contact Us</a></li>
              <li><a href="cart.html">Cart</a></li>
              <li><a href="checkout.html">Checkout</a></li>
              <li><a href="compare.html">Compare</a></li>
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="login.html">Login</a></li>
              <li><a href="register.html">Register</a></li>
              <li><a href="track-order.html">Track Order</a></li>
              <li><a href="terms-condition.html">Terms Condition</a></li>
              <li><a href="privacy-policy.html">Privacy Policy</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0)">Blog</a>
            <ul class="sub-menu">
              <li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
              <li><a href="blog-right-sidebar.html">Blog right sidebar</a></li>
              <li>
                <a href="blog-detail-left-sidebar.html"
                  >Blog detail left sidebar</a
                >
              </li>
              <li>
                <a href="blog-detail-right-sidebar.html"
                  >Blog detail right sidebar</a
                >
              </li>
              <li><a href="blog-full-width.html">Blog full width</a></li>
              <li>
                <a href="blog-detail-full-width.html">Blog detail full width</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0)">Elements</a>
            <ul class="sub-menu">
              <li><a href="elemets-products.html">Products</a></li>
              <li><a href="elemets-typography.html">Typography</a></li>
              <li><a href="elemets-title.html">Titles</a></li>
              <li><a href="elemets-categories.html">Categories</a></li>
              <li><a href="elemets-buttons.html">Buttons</a></li>
              <li><a href="elemets-tabs.html">Tabs</a></li>
              <li><a href="elemets-accordions.html">Accordions</a></li>
              <li><a href="elemets-blog.html">Blogs</a></li>
            </ul>
          </li>
          <li><a href="offer.html">Hot Offers</a></li>
        </ul>
      </div>
      <div class="header-res-lan-curr">
        <div class="header-top-lan-curr">
          <!-- Language Start -->
          <div class="header-top-lan dropdown">
            <button
              class="dropdown-toggle text-upper"
              data-bs-toggle="dropdown"
            >
              Language <i class="ecicon eci-caret-down" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu">
              <li class="active">
                <a class="dropdown-item" href="#">English</a>
              </li>
              <li><a class="dropdown-item" href="#">Italiano</a></li>
            </ul>
          </div>
          <!-- Language End -->
          <!-- Currency Start -->
          <div class="header-top-curr dropdown">
            <button
              class="dropdown-toggle text-upper"
              data-bs-toggle="dropdown"
            >
              Currency <i class="ecicon eci-caret-down" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu">
              <li class="active">
                <a class="dropdown-item" href="#">USD $</a>
              </li>
              <li><a class="dropdown-item" href="#">EUR €</a></li>
            </ul>
          </div>
          <!-- Currency End -->
        </div>
        <!-- Social Start -->
        <div class="header-res-social">
          <div class="header-top-social">
            <ul class="mb-0">
              <li class="list-inline-item">
                <a class="hdr-facebook" href="#"
                  ><i class="ecicon eci-facebook"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a class="hdr-twitter" href="#"
                  ><i class="ecicon eci-twitter"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a class="hdr-instagram" href="#"
                  ><i class="ecicon eci-instagram"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a class="hdr-linkedin" href="#"
                  ><i class="ecicon eci-linkedin"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Social End -->
      </div>
    </div>
  </div>
  <!-- ekka mobile Menu End -->
</header>
<!-- Header End  -->

<!-- ekka Cart Start -->
<div class="ec-side-cart-overlay"></div>
<div id="ec-side-cart" class="ec-side-cart">
  <div class="ec-cart-inner">
    <div class="ec-cart-top">
      <div class="ec-cart-title">
        <span class="cart_title">My Cart</span>
        <button class="ec-close">×</button>
      </div>
      <ul class="eccart-pro-items">
        <li>
          <a href="product-left-sidebar.html" class="sidekka_pro_img"
            ><img src="/images/product-image/6_1.jpg" alt="product"
          /></a>
          <div class="ec-pro-content">
            <a href="product-left-sidebar.html" class="cart_pro_title"
              >T-shirt For Women</a
            >
            <span class="cart-price"><span>$76.00</span> x 1</span>
            <div class="qty-plus-minus">
              <input class="qty-input" type="text" name="ec_qtybtn" value="1" />
            </div>
            <a href="javascript:void(0)" class="remove">×</a>
          </div>
        </li>
        <li>
          <a href="product-left-sidebar.html" class="sidekka_pro_img"
            ><img src="/images/product-image/12_1.jpg" alt="product"
          /></a>
          <div class="ec-pro-content">
            <a href="product-left-sidebar.html" class="cart_pro_title"
              >Women Leather Shoes</a
            >
            <span class="cart-price"><span>$64.00</span> x 1</span>
            <div class="qty-plus-minus">
              <input class="qty-input" type="text" name="ec_qtybtn" value="1" />
            </div>
            <a href="javascript:void(0)" class="remove">×</a>
          </div>
        </li>
        <li>
          <a href="product-left-sidebar.html" class="sidekka_pro_img"
            ><img src="/images/product-image/3_1.jpg" alt="product"
          /></a>
          <div class="ec-pro-content">
            <a href="product-left-sidebar.html" class="cart_pro_title"
              >Girls Nylon Purse</a
            >
            <span class="cart-price"><span>$59.00</span> x 1</span>
            <div class="qty-plus-minus">
              <input class="qty-input" type="text" name="ec_qtybtn" value="1" />
            </div>
            <a href="javascript:void(0)" class="remove">×</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="ec-cart-bottom">
      <div class="cart-sub-total">
        <table class="table cart-table">
          <tbody>
            <tr>
              <td class="text-left">Sub-Total :</td>
              <td class="text-right">$300.00</td>
            </tr>
            <tr>
              <td class="text-left">VAT (20%) :</td>
              <td class="text-right">$60.00</td>
            </tr>
            <tr>
              <td class="text-left">Total :</td>
              <td class="text-right primary-color">$360.00</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="cart_btn">
        <a href="cart.html" class="btn btn-primary">View Cart</a>
        <a href="checkout.html" class="btn btn-secondary">Checkout</a>
      </div>
    </div>
  </div>
</div>
<!-- ekka Cart End -->

<!-- Ec breadcrumb start -->
<div class="sticky-header-next-sec ec-breadcrumb section-space-mb">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row ec_breadcrumb_inner">
          <div class="col-md-6 col-sm-12">
            <h2 class="ec-breadcrumb-title">Shop</h2>
          </div>
          <div class="col-md-6 col-sm-12">
            <!-- ec-breadcrumb-list start -->
            <ul class="ec-breadcrumb-list">
              <li class="ec-breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="ec-breadcrumb-item active">Shop</li>
            </ul>
            <!-- ec-breadcrumb-list end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Ec breadcrumb end -->

<!-- Ec Shop page -->
<section class="ec-page-content section-space-p">
  <div class="container">
    <div class="row">
      <div class="ec-shop-rightside col-lg-12 col-md-12">
        <!-- Shop Top Start -->
        <div class="ec-pro-list-top d-flex">
          <div class="col-md-6 ec-grid-list">
            <div class="ec-gl-btn">
              <button class="btn sidebar-toggle-icon">
                <img
                  src="/images/icons/filter.svg"
                  class="svg_img gl_svg"
                  alt="filter"
                />
              </button>
              <button class="btn btn-grid-50 active">
                <img
                  src="/images/icons/grid.svg"
                  class="svg_img gl_svg"
                  alt="grid"
                />
              </button>
              <button class="btn btn-list-50">
                <img
                  src="/images/icons/list.svg"
                  class="svg_img gl_svg"
                  alt="list"
                />
              </button>
            </div>
          </div>
          <div class="col-md-6 ec-sort-select">
            <span class="sort-by">Category wise</span>
            <div class="dropdown ec-select-inner" id="filter">
              <select id="category" name="parentCategory">
                <option selected disabled>Category</option>
                <% categoryData.forEach((category)=>{ %>
                <option value="dropdown-item"><%= category.name %></option>
                <% }) %>
              </select>
            </div>
            <button id="button1" type="button" class="btn btn-primary mr-3">
              Select
            </button>
            <span class="sort-by">Sort by</span>
            <div class="ec-select-inner">
              <select name="sort" id="sort">
                <option selected disabled>Price</option>
                <option value="low-to-high">Low to High</option>
                <option value="high-to-low">High to Low</option>
              </select>
            </div>
          </div>
        </div>

        <!-- <%if(categoryData.length> 0){%>
        <div class="dropdown" id="filter">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Category
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <%for (let i of categoryData){%>
            <li>
              <a class="dropdown-item" href="#" data-category="<%=i.name%>">
                <%=i.name%>
              </a>
            </li>
            <%}%>
          </ul>
        </div>
        <%}%> -->

        <!-- Shop Top End -->

        <!-- under construction -->

        <!-- <div>
                        <div>
                            <select id="sort" name="sort">
                                <option value="low-to-high">Low to High</option>
                                <option value="high-to-low">High to Low</option>
                            </select>
                        </div>
                        <div>
                            <input type="search" name="search" class="w-25" id="searchField" placeholder="Search" />
                        </div>


                        <div class="dropdown" id="filter">
                            <label for="category"><b>Choose a category:</b></label>
                            <select id="category" name="parentCategory">
                                <% categoryData.forEach((category)=>{ %>
                                    <option value="<%= category.name %>">
                                        <%= category.name %>
                                    </option>
                                    <% }) %>
                            </select>
                            <button id="button1" type="button" class="btn btn-primary">
                                Choose Category
                            </button>
                        </div>
                    </div> -->

        <!-- Shop content Start ----------------------------------------------------------------------------------------- -->
        <div class="shop-pro-content">
          <div class="shop-pro-inner">
            <div class="row" id="product">
              <% pageProducts.forEach((value,index)=>{%>

              <div
                class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6 pro-gl-content"
              >
                <div class="ec-product-inner">
                  <div class="ec-pro-image-outer">
                    <div class="ec-pro-image">
                      <a href="/singleProduct?id=<%=value._id%>" class="image">
                        <img
                          class="main-image"
                          src="/productImage/<%=value.image[0] %>"
                          alt="Product"
                        />
                        <!-- <img class="hover-image" src="/images/product-image/6_2.jpg"
                                                        alt="Product" /> -->
                      </a>
                      <!-- <span class="percentage">20%</span> -->

                      <div class="ec-pro-actions">
                        <button
                          title="Add To Cart"
                          class="add-to-cart"
                          onClick="addtoCart('<%=value._id%>')"
                        >
                          <img
                            src="/images/icons/cart.svg"
                            class="svg_img pro_svg"
                            alt=""
                          />
                          Add To Cart
                        </button>
                        <a
                          class="ec-btn-group wishlist"
                          onClick=" addtowhishlist('<%=value._id%>')"
                          title="Wishlist"
                          ><img
                            src="/images/icons/wishlist.svg"
                            class="svg_img pro_svg"
                            alt=""
                        /></a>
                        <!-- addToWishlist('<%=value._id%>') -->
                        <!-- <a href="#" class="quickview" data-link-action="quickview"addtowhishlist
                                                            title="Quick view" data-bs-toggle="modal"
                                                            data-bs-target="#ec_quickview_modal"><img
                                                                src="/images/icons/quickview.svg"
                                                                class="svg_img pro_svg" alt="" /></a> -->
                      </div>
                    </div>
                  </div>

                  <div class="ec-pro-content">
                    <h5 class="ec-pro-title">
                      <a href="/singleProduct?id=<%=value._id%>"
                        ><b> <%= value.productName%> </b></a
                      >
                    </h5>
                    <!-- <div class="ec-pro-rating">
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star"></i>
                                            </div> -->
                    <div class="ec-pro-list-desc"><%= value.description %></div>
                    <span class="ec-price">
                      <!-- <span class="old-price">$27.00</span> -->
                      <span class="new-price"><b> <%=value.price%> ₹ </b></span>
                    </span>
                    <!-- <div class="ec-pro-option">
                                                <div class="ec-pro-color"> -->
                    <!-- <span class="ec-pro-opt-label">Color</span>
                                                    <ul class="ec-opt-swatch ec-change-img">
                                                        <li class="active"><a href="#" class="ec-opt-clr-img"
                                                                data-src="/images/product-image/6_1.jpg"
                                                                data-src-hover="/images/product-image/6_1.jpg"
                                                                data-tooltip="Gray"><span
                                                                    style="background-color:#e8c2ff;"></span></a>
                                                        </li>
                                                        <li><a href="#" class="ec-opt-clr-img"
                                                                data-src="/images/product-image/6_2.jpg"
                                                                data-src-hover="/images/product-image/6_2.jpg"
                                                                data-tooltip="Orange"><span
                                                                    style="background-color:#9cfdd5;"></span></a>
                                                        </li>
                                                    </ul> -->
                    <!-- </div> -->
                    <div class="ec-pro-size">
                      <span class="ec-pro-opt-label">Size</span>
                      <ul class="ec-opt-size">
                        <% value.size.forEach((sizes,index)=>{%>
                        <li>
                          <a href="#" class="ec-opt-sz" data-tooltip="Small">
                            <%=sizes%>
                          </a>
                        </li>
                        <%});%>
                      </ul>
                    </div>
                    <!-- </div> -->
                  </div>
                </div>
              </div>
              <%})%>
              <!-- ------------------------------------------------------------------------------------------------------------------sss---------------------- -->
            </div>
          </div>
          <!-- Ec Pagination Start -->

          <div class="ec-pro-pagination">
            <span>Showing 1-12 of 21 item(s)</span>
            <ul class="ec-pro-pagination-inner">
              <% for (let i=1; i <=totalPages; i++) { %> <% if (i===currentPage)
              { %>
              <li>
                <a onclick="toAjax('<%= i%>')"><%= i %></a>
              </li>
              <% } else { %>
              <li><a onclick="toAjax('<%=i%>')"><%= i %></a></li>
              <% } %> <% } %>
              <li>
                <a class="next" href="#"
                  >Next <i class="ecicon eci-angle-right"></i
                ></a>
              </li>
            </ul>
          </div>
          <!-- Ec Pagination End -->

          <!-- Ec Pagination End -->
        </div>
      </div>
      <!--Shop content End -->
    </div>
    <!-- Sidebar Area Start -->
    <div class="filter-sidebar-overlay"></div>
    <div class="ec-shop-leftside filter-sidebar">
      <div class="ec-sidebar-heading">
        <h1>Filter Products By</h1>
        <a class="filter-cls-btn" href="javascript:void(0)">×</a>
      </div>
      <div class="ec-sidebar-wrap">
        <!-- Sidebar Category Block -->
        <div class="ec-sidebar-block">
          <div class="ec-sb-title">
            <h3 class="ec-sidebar-title">Category</h3>
          </div>
          <div class="ec-sb-block-content">
            <ul>
              <li>
                <div class="ec-sidebar-block-item">
                  <input type="checkbox" checked /> <a href="#">clothes</a
                  ><span class="checked"></span>
                </div>
              </li>
              <li>
                <div class="ec-sidebar-block-item">
                  <input type="checkbox" /> <a href="#">Bags</a
                  ><span class="checked"></span>
                </div>
              </li>
              <li>
                <div class="ec-sidebar-block-item">
                  <input type="checkbox" /> <a href="#">Shoes</a
                  ><span class="checked"></span>
                </div>
              </li>
              <li>
                <div class="ec-sidebar-block-item">
                  <input type="checkbox" /> <a href="#">cosmetics</a
                  ><span class="checked"></span>
                </div>
              </li>
              <li>
                <div class="ec-sidebar-block-item">
                  <input type="checkbox" /> <a href="#">electrics</a
                  ><span class="checked"></span>
                </div>
              </li>
              <li>
                <div class="ec-sidebar-block-item">
                  <input type="checkbox" /> <a href="#">phone</a
                  ><span class="checked"></span>
                </div>
              </li>
              <li id="ec-more-toggle-content" style="padding: 0; display: none">
                <ul>
                  <li>
                    <div class="ec-sidebar-block-item">
                      <input type="checkbox" /> <a href="#">Watch</a
                      ><span class="checked"></span>
                    </div>
                  </li>
                  <li>
                    <div class="ec-sidebar-block-item">
                      <input type="checkbox" /> <a href="#">Cap</a
                      ><span class="checked"></span>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <div class="ec-sidebar-block-item ec-more-toggle">
                  <span class="checked"></span
                  ><span id="ec-more-toggle">More Categories</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- Sidebar Size Block -->
        <div class="ec-sidebar-block">
          <div class="ec-sb-title">
            <h3 class="ec-sidebar-title">Size</h3>
          </div>
          <div class="ec-sb-block-content">
            <ul>
              <li>
                <div class="ec-sidebar-block-item">
                  <input type="checkbox" value="" checked /><a href="#">S</a
                  ><span class="checked"></span>
                </div>
              </li>
              <li>
                <div class="ec-sidebar-block-item">
                  <input type="checkbox" value="" /><a href="#">M</a
                  ><span class="checked"></span>
                </div>
              </li>
              <li>
                <div class="ec-sidebar-block-item">
                  <input type="checkbox" value="" /> <a href="#">L</a
                  ><span class="checked"></span>
                </div>
              </li>
              <li>
                <div class="ec-sidebar-block-item">
                  <input type="checkbox" value="" /><a href="#">XL</a
                  ><span class="checked"></span>
                </div>
              </li>
              <li>
                <div class="ec-sidebar-block-item">
                  <input type="checkbox" value="" /><a href="#">XXL</a
                  ><span class="checked"></span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- Sidebar Color item -->
        <div class="ec-sidebar-block ec-sidebar-block-clr">
          <div class="ec-sb-title">
            <h3 class="ec-sidebar-title">Color</h3>
          </div>
          <div class="ec-sb-block-content">
            <ul>
              <li>
                <div class="ec-sidebar-block-item">
                  <span style="background-color: #c4d6f9"></span>
                </div>
              </li>
              <li>
                <div class="ec-sidebar-block-item">
                  <span style="background-color: #ff748b"></span>
                </div>
              </li>
              <li>
                <div class="ec-sidebar-block-item">
                  <span style="background-color: #000000"></span>
                </div>
              </li>
              <li class="active">
                <div class="ec-sidebar-block-item">
                  <span style="background-color: #2bff4a"></span>
                </div>
              </li>
              <li>
                <div class="ec-sidebar-block-item">
                  <span style="background-color: #ff7c5e"></span>
                </div>
              </li>
              <li>
                <div class="ec-sidebar-block-item">
                  <span style="background-color: #f155ff"></span>
                </div>
              </li>
              <li>
                <div class="ec-sidebar-block-item">
                  <span style="background-color: #ffef00"></span>
                </div>
              </li>
              <li>
                <div class="ec-sidebar-block-item">
                  <span style="background-color: #c89fff"></span>
                </div>
              </li>
              <li>
                <div class="ec-sidebar-block-item">
                  <span style="background-color: #7bfffa"></span>
                </div>
              </li>
              <li>
                <div class="ec-sidebar-block-item">
                  <span style="background-color: #56ffc1"></span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- Sidebar Price Block -->
        <div class="ec-sidebar-block">
          <div class="ec-sb-title">
            <h3 class="ec-sidebar-title">Price</h3>
          </div>
          <div class="ec-sb-block-content es-price-slider">
            <div class="ec-price-filter">
              <div
                id="ec-sliderPrice"
                class="filter__slider-price"
                data-min="0"
                data-max="250"
                data-step="10"
              ></div>
              <div class="ec-price-input">
                <label class="filter__label"
                  ><input type="text" class="filter__input"
                /></label>
                <span class="ec-price-divider"></span>
                <label class="filter__label"
                  ><input type="text" class="filter__input"
                /></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Shop page -->

<!-- Footer Start -->
<footer class="ec-footer section-space-mt">
  <div class="footer-container">
    <div class="footer-offer">
      <div class="container">
        <div class="row">
          <div class="text-center footer-off-msg">
            <span>Win a contest! Get this limited-editon</span
            ><a href="#" target="_blank">View Detail</a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-top section-space-footer-p">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-3 ec-footer-contact">
            <div class="ec-footer-widget">
              <div class="ec-footer-logo">
                <a href="#"
                  ><img src="/images/logo/footer-logo.png" alt="" /><img
                    class="dark-footer-logo"
                    src="/images/logo/dark-logo.png"
                    alt="Site Logo"
                    style="display: none"
                /></a>
              </div>
              <h4 class="ec-footer-heading">Contact us</h4>
              <div class="ec-footer-links">
                <ul class="align-items-center">
                  <li class="ec-footer-link">
                    71 Pilgrim Avenue Chevy Chase, east california.
                  </li>
                  <li class="ec-footer-link">
                    <span>Call Us:</span
                    ><a href="tel:+440123456789">+44 0123 456 789</a>
                  </li>
                  <li class="ec-footer-link">
                    <span>Email:</span
                    ><a href="mailto:example@ec-email.com"
                      >+example@ec-email.com</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-2 ec-footer-info">
            <div class="ec-footer-widget">
              <h4 class="ec-footer-heading">Information</h4>
              <div class="ec-footer-links">
                <ul class="align-items-center">
                  <li class="ec-footer-link">
                    <a href="about-us.html">About us</a>
                  </li>
                  <li class="ec-footer-link"><a href="faq.html">FAQ</a></li>
                  <li class="ec-footer-link">
                    <a href="#">Delivery Information</a>
                  </li>
                  <li class="ec-footer-link">
                    <a href="contact-us.html">Contact us</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-2 ec-footer-account">
            <div class="ec-footer-widget">
              <h4 class="ec-footer-heading">Account</h4>
              <div class="ec-footer-links">
                <ul class="align-items-center">
                  <li class="ec-footer-link"><a href="#">My Account</a></li>
                  <li class="ec-footer-link">
                    <a href="track-order.html">Order History</a>
                  </li>
                  <li class="ec-footer-link"><a href="#">Wish List</a></li>
                  <li class="ec-footer-link"><a href="#">Specials</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-2 ec-footer-service">
            <div class="ec-footer-widget">
              <h4 class="ec-footer-heading">Services</h4>
              <div class="ec-footer-links">
                <ul class="align-items-center">
                  <li class="ec-footer-link">
                    <a href="#">Discount Returns</a>
                  </li>
                  <li class="ec-footer-link">
                    <a href="#">Policy & policy </a>
                  </li>
                  <li class="ec-footer-link">
                    <a href="#">Customer Service</a>
                  </li>
                  <li class="ec-footer-link">
                    <a href="terms-condition.html">Term & condition</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-3 ec-footer-news">
            <div class="ec-footer-widget">
              <h4 class="ec-footer-heading">Newsletter</h4>
              <div class="ec-footer-links">
                <ul class="align-items-center">
                  <li class="ec-footer-link">
                    Get instant updates about our new products and special
                    promos!
                  </li>
                </ul>
                <div class="ec-subscribe-form">
                  <form
                    id="ec-newsletter-form"
                    name="ec-newsletter-form"
                    method="post"
                    action="#"
                  >
                    <div id="ec_news_signup" class="ec-form">
                      <input
                        class="ec-email"
                        type="email"
                        required=""
                        placeholder="Enter your email here..."
                        name="ec-email"
                        value=""
                      />
                      <button
                        id="ec-news-btn"
                        class="button btn-primary"
                        type="submit"
                        name="subscribe"
                        value=""
                      >
                        <i
                          class="ecicon eci-paper-plane-o"
                          aria-hidden="true"
                        ></i>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row align-items-center">
          <!-- Footer social Start -->
          <div class="col text-left footer-bottom-left">
            <div class="footer-bottom-social">
              <span class="social-text text-upper">Follow us on:</span>
              <ul class="mb-0">
                <li class="list-inline-item">
                  <a class="hdr-facebook" href="#"
                    ><i class="ecicon eci-facebook"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a class="hdr-twitter" href="#"
                    ><i class="ecicon eci-twitter"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a class="hdr-instagram" href="#"
                    ><i class="ecicon eci-instagram"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a class="hdr-linkedin" href="#"
                    ><i class="ecicon eci-linkedin"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Footer social End -->
          <!-- Footer Copyright Start -->
          <div class="col text-center footer-copy">
            <div class="footer-bottom-copy">
              <div class="ec-copy">
                Copyright © 2021-2022
                <a class="site-name text-upper" href="#">ekka<span>.</span></a
                >. All Rights Reserved
              </div>
            </div>
          </div>
          <!-- Footer Copyright End -->
          <!-- Footer payment -->
          <div class="col footer-bottom-right">
            <div class="footer-bottom-payment d-flex justify-content-end">
              <div class="payment-link">
                <img src="/images/icons/payment.png" alt="" />
              </div>
            </div>
          </div>
          <!-- Footer payment -->
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Area End -->

<!-- Modal -->
<div class="modal fade" id="ec_quickview_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button
        type="button"
        class="btn-close qty_close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
      <% pageProducts.forEach((value,index)=>{%>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-5 col-sm-12 col-xs-12">
            <!-- Swiper -->
            <div class="qty-product-cover">
              <!-- <div class="qty-slide">
                                        <img class="img-responsive" src="/images/product-image/3_1.jpg" alt="">
                                    </div>
                                    <div class="qty-slide">
                                        <img class="img-responsive" src="/images/product-image/3_2.jpg" alt="">
                                    </div> -->
              <div class="qty-slide">
                <img
                  class="img-responsive"
                  src="/images/product-image/3_3.jpg"
                  alt=""
                />
              </div>
              <div class="qty-slide">
                <img
                  class="img-responsive"
                  src="/images/product-image/3_4.jpg"
                  alt=""
                />
              </div>
              <div class="qty-slide">
                <img
                  class="img-responsive"
                  src="/images/product-image/3_5.jpg"
                  alt=""
                />
              </div>
            </div>
            <div class="qty-nav-thumb">
              <div class="qty-slide">
                <img
                  class="img-responsive"
                  src="/images/product-image/3_1.jpg"
                  alt=""
                />
              </div>
              <div class="qty-slide">
                <img
                  class="img-responsive"
                  src="/images/product-image/3_2.jpg"
                  alt=""
                />
              </div>
              <div class="qty-slide">
                <img
                  class="img-responsive"
                  src="/images/product-image/3_3.jpg"
                  alt=""
                />
              </div>
              <div class="qty-slide">
                <img
                  class="img-responsive"
                  src="/images/product-image/3_4.jpg"
                  alt=""
                />
              </div>
              <div class="qty-slide">
                <img
                  class="img-responsive"
                  src="/images/product-image/3_5.jpg"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="quickview-pro-content">
              <h5 class="ec-quick-title">
                <a href="product-left-sidebar.html"> <%=value.productName%> </a>
              </h5>
              <!-- <div class="ec-quickview-rating">
                                        <i class="ecicon eci-star fill"></i>
                                        <i class="ecicon eci-star fill"></i>
                                        <i class="ecicon eci-star fill"></i>
                                        <i class="ecicon eci-star fill"></i>
                                        <i class="ecicon eci-star"></i>
                                    </div> -->

              <div class="ec-quickview-desc"><%=value.description%></div>
              <div class="ec-quickview-price">
                <!-- <span class="old-price">$100.00</span> -->
                <span class="new-price"> <%=value.price%> ₹ </span>
              </div>

              <div class="ec-pro-variation">
                <!-- <div class="ec-pro-variation-inner ec-pro-variation-color">
                                            <span>Color</span>
                                            <div class="ec-pro-color">
                                                <ul class="ec-opt-swatch">
                                                    <li><span style="background-color:#696d62;"></span></li>
                                                    <li><span style="background-color:#d73808;"></span></li>
                                                    <li><span style="background-color:#577023;"></span></li>
                                                    <li><span style="background-color:#2ea1cd;"></span></li>
                                                </ul>
                                            </div>
                                        </div> -->
                <div
                  class="ec-pro-variation-inner ec-pro-variation-size ec-pro-size"
                >
                  <span>Size</span>
                  <% value.size.forEach((sizes,indexes)=>{ %>
                  <div class="ec-pro-variation-content">
                    <label>
                      <input type="checkbox" name="size" value="<%=sizes%>" />
                      <%=sizes%>
                    </label>

                    <%})%>
                  </div>
                </div>
                <div class="ec-quickview-qty">
                  <div class="qty-plus-minus">
                    <input
                      class="qty-input"
                      type="text"
                      name="ec_qtybtn"
                      value="1"
                    />
                  </div>
                  <div class="ec-quickview-cart">
                    <button class="btn btn-primary">
                      <img src="/addto-cart" class="svg_img pro_svg" alt="" />
                      Add To Cart
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%})%>
      </div>
    </div>
  </div>
  <!-- Modal end -->

  <!-- Footer navigation panel for responsive display -->
  <div class="ec-nav-toolbar">
    <div class="container">
      <div class="ec-nav-panel">
        <div class="ec-nav-panel-icons">
          <a
            href="#ec-mobile-menu"
            class="navbar-toggler-btn ec-header-btn ec-side-toggle"
            ><img
              src="/images/icons/menu.svg"
              class="svg_img header_svg"
              alt=""
          /></a>
        </div>
        <div class="ec-nav-panel-icons">
          <a
            href="#ec-side-cart"
            class="toggle-cart ec-header-btn ec-side-toggle"
            ><img
              src="/images/icons/cart.svg"
              class="svg_img header_svg"
              alt=""
            /><span class="ec-cart-noti ec-header-count cart-count-lable"
              >3</span
            ></a
          >
        </div>
        <div class="ec-nav-panel-icons">
          <a href="index.html" class="ec-header-btn"
            ><img
              src="/images/icons/home.svg"
              class="svg_img header_svg"
              alt="icon"
          /></a>
        </div>
        <div class="ec-nav-panel-icons">
          <a href="wishlist.html" class="ec-header-btn"
            ><img
              src="/images/icons/wishlist.svg"
              class="svg_img header_svg"
              alt="icon"
            /><span class="ec-cart-noti">4</span></a
          >
        </div>
        <div class="ec-nav-panel-icons">
          <a href="login.html" class="ec-header-btn"
            ><img
              src="/images/icons/user.svg"
              class="svg_img header_svg"
              alt="icon"
          /></a>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer navigation panel for responsive display end -->

  <!-- Recent Purchase Popup  -->
  <div class="recent-purchase">
    <img src="/images/product-image/1.jpg" alt="payment image" />
    <div class="detail">
      <p>Someone in new just bought</p>
      <h6>stylish baby shoes</h6>
      <p>10 Minutes ago</p>
    </div>
    <a href="javascript:void(0)" class="icon-btn recent-close">×</a>
  </div>
  <!-- Recent Purchase Popup end -->

  <!-- Cart Floating Button -->
  <div class="ec-cart-float">
    <a href="#ec-side-cart" class="ec-header-btn ec-side-toggle">
      <div class="header-icon">
        <img src="/images/icons/cart.svg" class="svg_img header_svg" alt="" />
      </div>
      <span class="ec-cart-count cart-count-lable">3</span>
    </a>
  </div>
  <!-- Cart Floating Button end -->

  <!-- Whatsapp -->
  <div class="ec-style ec-right-bottom">
    <!-- Start Floating Panel Container -->
    <div class="ec-panel">
      <!-- Panel Header -->
      <div class="ec-header">
        <strong>Need Help?</strong>
        <p>Chat with us on WhatsApp</p>
      </div>
      <!-- Panel Content -->
      <div class="ec-body">
        <ul>
          <!-- Start Single Contact List -->
          <li>
            <a
              class="ec-list"
              data-number="918866774266"
              data-message="Please help me! I have got wrong product - ORDER ID is : #654321485"
            >
              <div class="d-flex bd-highlight">
                <!-- Profile Picture -->
                <div class="ec-img-cont">
                  <img
                    src="/images/whatsapp/profile_01.jpg"
                    class="ec-user-img"
                    alt="Profile image"
                  />
                  <span class="ec-status-icon"></span>
                </div>
                <!-- Display Name & Last Seen -->
                <div class="ec-user-info">
                  <span>Sahar Darya</span>
                  <p>Sahar left 7 mins ago</p>
                </div>
                <!-- Chat iCon -->
                <div class="ec-chat-icon">
                  <i class="fa fa-whatsapp"></i>
                </div>
              </div>
            </a>
          </li>
          <!--/ End Single Contact List -->
          <!-- Start Single Contact List -->
          <li>
            <a
              class="ec-list"
              data-number="918866774266"
              data-message="Please help me! I have got wrong product - ORDER ID is : #654321485"
            >
              <div class="d-flex bd-highlight">
                <!-- Profile Picture -->
                <div class="ec-img-cont">
                  <img
                    src="/images/whatsapp/profile_02.jpg"
                    class="ec-user-img"
                    alt="Profile image"
                  />
                  <span class="ec-status-icon ec-online"></span>
                </div>
                <!-- Display Name & Last Seen -->
                <div class="ec-user-info">
                  <span>Yolduz Rafi</span>
                  <p>Yolduz is online</p>
                </div>
                <!-- Chat iCon -->
                <div class="ec-chat-icon">
                  <i class="fa fa-whatsapp"></i>
                </div>
              </div>
            </a>
          </li>
          <!--/ End Single Contact List -->
          <!-- Start Single Contact List -->
          <li>
            <a
              class="ec-list"
              data-number="918866774266"
              data-message="Please help me! I have got wrong product - ORDER ID is : #654321485"
            >
              <div class="d-flex bd-highlight">
                <!-- Profile Picture -->
                <div class="ec-img-cont">
                  <img
                    src="/images/whatsapp/profile_03.jpg"
                    class="ec-user-img"
                    alt="Profile image"
                  />
                  <span class="ec-status-icon ec-offline"></span>
                </div>
                <!-- Display Name & Last Seen -->
                <div class="ec-user-info">
                  <span>Nargis Hawa</span>
                  <p>Nargis left 30 mins ago</p>
                </div>
                <!-- Chat iCon -->
                <div class="ec-chat-icon">
                  <i class="fa fa-whatsapp"></i>
                </div>
              </div>
            </a>
          </li>
          <!--/ End Single Contact List -->
          <!-- Start Single Contact List -->
          <li>
            <a
              class="ec-list"
              data-number="918866774266"
              data-message="Please help me! I have got wrong product - ORDER ID is : #654321485"
            >
              <div class="d-flex bd-highlight">
                <!-- Profile Picture -->
                <div class="ec-img-cont">
                  <img
                    src="/images/whatsapp/profile_04.jpg"
                    class="ec-user-img"
                    alt="Profile image"
                  />
                  <span class="ec-status-icon ec-offline"></span>
                </div>
                <!-- Display Name & Last Seen -->
                <div class="ec-user-info">
                  <span>Khadija Mehr</span>
                  <p>Khadija left 50 mins ago</p>
                </div>
                <!-- Chat iCon -->
                <div class="ec-chat-icon">
                  <i class="fa fa-whatsapp"></i>
                </div>
              </div>
            </a>
          </li>
          <!--/ End Single Contact List -->
        </ul>
      </div>
    </div>
    <!--/ End Floating Panel Container -->
    <!-- Start Right Floating Button-->
    <div class="ec-right-bottom">
      <div class="ec-box">
        <div class="ec-button rotateBackward">
          <img
            class="whatsapp"
            src="/images/common/whatsapp.png"
            alt="whatsapp icon"
          />
        </div>
      </div>
    </div>
    <!--/ End Right Floating Button-->
  </div>
  <!-- Whatsapp end -->

  <!-- Feature tools -->
  <div class="ec-tools-sidebar-overlay"></div>
  <div class="ec-tools-sidebar">
    <div class="tool-title">
      <h3>Features</h3>
    </div>
    <a href="#" class="ec-tools-sidebar-toggle in-out">
      <img alt="icon" src="/images/common/settings.png" />
    </a>
    <div class="ec-tools-detail">
      <div class="ec-tools-sidebar-content ec-change-color ec-color-desc">
        <h3>Color Scheme</h3>
        <ul class="bg-panel">
          <li class="active" data-color="01">
            <a href="#" class="colorcode1"></a>
          </li>
          <li data-color="02"><a href="#" class="colorcode2"></a></li>
          <li data-color="03"><a href="#" class="colorcode3"></a></li>
          <li data-color="04"><a href="#" class="colorcode4"></a></li>
          <li data-color="05"><a href="#" class="colorcode5"></a></li>
        </ul>
      </div>
      <div class="ec-tools-sidebar-content">
        <h3>Backgrounds</h3>
        <ul class="bg-panel">
          <li class="bg"><a class="back-bg-1" id="bg-1">Background-1</a></li>
          <li class="bg"><a class="back-bg-2" id="bg-2">Background-2</a></li>
          <li class="bg"><a class="back-bg-3" id="bg-3">Background-3</a></li>
          <li class="bg"><a class="back-bg-4" id="bg-4">Default</a></li>
        </ul>
      </div>
      <div class="ec-tools-sidebar-content">
        <h3>Full Screen mode</h3>
        <div class="ec-fullscreen-mode">
          <div class="ec-fullscreen-switch">
            <div class="ec-fullscreen-btn">Mode</div>
            <div class="ec-fullscreen-on">On</div>
            <div class="ec-fullscreen-off">Off</div>
          </div>
        </div>
      </div>
      <div class="ec-tools-sidebar-content">
        <h3>Dark mode</h3>
        <div class="ec-change-mode">
          <div class="ec-mode-switch">
            <div class="ec-mode-btn">Mode</div>
            <div class="ec-mode-on">On</div>
            <div class="ec-mode-off">Off</div>
          </div>
        </div>
      </div>
      <div class="ec-tools-sidebar-content">
        <h3>RTL mode</h3>
        <div class="ec-change-rtl">
          <div class="ec-rtl-switch">
            <div class="ec-rtl-btn">Rtl</div>
            <div class="ec-rtl-on">On</div>
            <div class="ec-rtl-off">Off</div>
          </div>
        </div>
      </div>
      <div class="ec-tools-sidebar-content">
        <h3>Language</h3>
        <div class="ec-change-lang">
          <span id="google_translate_element"></span>
        </div>
      </div>
      <div class="ec-tools-sidebar-content">
        <h3>Clear local storage</h3>
        <a class="clear-cach" href="javascript:void(0)"
          >Clear Cache & Default</a
        >
      </div>
    </div>
  </div>

  <script>
    let categoryId;
    const searchInput = document.querySelector("#searchField");

    searchInput.addEventListener("input", (event) => {
      const search = event.target.value;
      const searchValue = search;
      toAjax();
    });

    // Filtering the products
    // $("a.dropdown-item").click(function (e) {
    //   e.preventDefault();
    //   categoryId = $(this).data("category");

    //   toAjax();
    // });

    $(document).ready(function () {
      $("#button1").click(function () {
        categoryId = $("#category :selected").text();
        console.log(categoryId);
        toAjax();
      });
    });

    const sortSelect = document.getElementById("sort");

    sortSelect.addEventListener("change", (event) => {
      const selectedValue = event.target.value;
      toAjax();
    });

    function toAjax(page) {
      $.ajax({
        url: "/products",
        data: {
          categoryId: categoryId,
          sort: sortSelect.value,
          page: page,
          search: searchInput.value,
          isRender: "true",
        },
        method: "get",
        success: (response) => {
          let html = "";
          for (let i = 0; i < response.pageProducts.length; i++) {
            html += `
                    <div class="col-12 col-md-4 col-lg-3">
                        <div class="box pt-3">
                            <div class="card" style="width: 18rem;">
                                <img height="250px" width="100%" src="/productImage/${response.pageProducts[i].image[0]}" alt="">
                                <div class="card-body">
                                    <div class="text-center">
                                        <span>
                                            <h6 class="card-title">${response.pageProducts[i].productName}</h6>Rs.${response.pageProducts[i].price}
                                        </span>
                                        <p class="card-text">${response.pageProducts[i].description}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                `;
          }
          document.getElementById("product").innerHTML = html;
        },
        fail: (error) => {
          console.error(error);
        },
      });
    }
  </script>

  <%-include('../layouts/productsFooter.ejs') %>
</div>
